# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
/dist
/.next
/.nuxt
/build
/.env
.env.local
.env.*.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
# *.tfvars
*.tfvars.json
*.plan

# Kubernetes/EKS
.kube/
*.kubeconfig
config/
# *.yaml
# *.yml

# Docker
.docker/
*.log

# MacOS specific
.DS_Store

# VSCode specific
.vscode/

# IntelliJ/JetBrains specific
.idea/

# System files
Thumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.swp
*.swo
*.bak
*.tmp
