apiVersion: apps/v1
kind: Deployment
metadata:
  name: color-palette-api
  namespace: color-palette-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: color-palette-api
  template:
    metadata:
      labels:
        app: color-palette-api
    spec:
      containers:
        - name: color-palette-api
          image: sample-app
          imagePullPolicy: IfNotPresent #always 
          ports:
            - containerPort: 8080
          env:
            - name: APP_VERSION
              value: "v1"
            - name: NODE_ENV
              value: "production"
            - name: METRICS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: color-palette-secrets
                  key: metricsToken
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
