apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: color-palette-api
  namespace: color-palette-api
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: color-palette-api
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
