apiVersion: v1
kind: Service
metadata:
  name: color-palette-api
  namespace: color-palette-api
spec:
  selector:
    app: color-palette-api
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: metrics
      port: 9090
      targetPort: 9090